<% if current_page?(root_url) %>
	<div>
		"Driving up standards of dementia care through training and workforce development"
	</div>
	<%= image_tag("top_pic_example.jpg") %>
<% else %>
	<%= image_tag("top_pic_example_sm.jpg") %>
<% end %>