<h1><%= title("Partners") %></h1>
<p><strong>The successful development and implementation of the Academy has been possible through a positive partnership approach with key organsations. </strong></p>
<p>This approach has enabled a strong commitment to taking the model forward with organisations sharing expertise and resources free of charge.</p>
<p>We have a growing number of partners listed below and are members of the Dementia Action Alliance Network.</p>
<% unless @partners.empty? %>
	<% @partners.each do |partner| %>
		<%= render "partners/partner", :partner => partner %>
		<div class="hr"><hr /></div>
	<% end %>
<% else %>
	
<% end %>

<% content_for :right do %>
	<%= render 'events/shared/event', :events => @events %>
<% end %>
