<li><%= link_to "Pages", main_app.admin_pages_path %></li>
<li><%= link_to "Events", main_app.admin_events_path %></li>
<li><%= link_to "Partners", main_app.admin_partners_path %></li>
<%# END OF LIST %>
